<!-- views/telaReservas.ejs -->
<html>
<head>
  <title>Tela de Reservas</title>
  <!-- Inclua seus estilos CSS aqui, se necessário -->
  <style>
    .quadra-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }

    .quadra-card {
      cursor: pointer;
      border: 1px solid #ccc;
      border-radius: 8px;
      padding: 16px;
      margin: 0 8px 16px;
      width: 300px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
  </style>
</head>
<body>
  <center><h1>Quadras Disponíveis para Reserva</h1></center>

  <div class="quadra-container">
    <% for (let i = 0; i < quadrasDisponiveis.length; i++) { %>
      <div class="quadra-card" onclick="redirecionarParaHorarios('<%= quadrasDisponiveis[i].id %>')">
        <p><strong>Localização:</strong> <%= quadrasDisponiveis[i].localizacao %></p>
        <p><strong>Tipo:</strong> <%= quadrasDisponiveis[i].tipo %></p>
        <p><strong>Preço:</strong> <%= quadrasDisponiveis[i].preco %></p>
        <!-- Adicione mais informações conforme necessário -->
      </div>
    <% } %>
  </div>

  <!-- Inclua seus scripts JavaScript aqui, se necessário -->
  <script>
    function redirecionarParaHorarios(quadraId) {
      window.location.href = '/horariosDisponiveis/' + quadraId;
      // Substitua '/horariosDisponiveis/' pelo caminho real da sua tela de horários disponíveis
    }
  </script>
</body>
</html>
