#menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #FAFBFB;
  padding: 10px;
  color: #212121;
  margin-right: 0; /* Remover espaço na direita */
  border-radius: 10px; /* Adiciona bordas arredondadas ao menu */
}

#menu img {
  max-width: 100%;
  height: auto;
  border-radius: 55px; /* Arredondamento leve */
}

#navbar-actions {
  position: relative;
  display: flex;
  align-items: center;
}

#profile-button {
  background: none;
  border: none;
  color: #212121;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 5px; /* Bordas arredondadas */
}

#profile-button:hover {
  background-color: #F5F6F6; /* Cor ao passar o mouse */
}

#oi{
    color: #777e89;
    background-color: #fafbfb;
    margin-left: 5px; /* Espaço entre o ícone e o texto */
    padding-left: 5px; /* Espaço entre a linha e o texto */
    LINE-HEIGHT: 24px;
}
#apresentacao{
  color: #949db2;
  background-color: #fafbfb;
  margin-left: 5px; /* Espaço entre o ícone e o texto */
  padding-left: 5px; /* Espaço entre a linha e o texto */
  LINE-HEIGHT: 26.25px
}


#dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 10px; /* Bordas arredondadas */
  overflow: hidden;
  display: none;
  padding: 10px;
  color: black;
}

#profile-button:hover + #dropdown,
#dropdown:hover {
  display: block;
}

#dropdown ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#dropdown ul li {
  padding: 8px 12px;
  cursor: pointer;
  color: #212121;
  border-radius: 5px; /* Bordas arredondadas */
}

#dropdown ul li:hover {
  background-color: #ddd;
}

#logout-button {
  background: #3E54FF;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  width: 100%;
  text-align: center;
  border-radius: 5px;
  margin-top: 10px;
}

#logout-button:hover {
  background: #253299;
}
