/* reserva.css */

#reserva {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#titulo {
  text-align: center;
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: flex-start; /* Alinha o botão à esquerda */
  margin-bottom: 20px; /* Adiciona um espaço entre o botão e a tabela */
}

#botao-fazer-reserva {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
}

#botao-fazer-reserva:hover {
  background-color: #0056b3;
}
