#tabela-reservas {
  background-color: #FFFFFF; /* Cor de fundo da tabela */
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 10px; /* Espaçamento entre as células */
  border-radius: 10px; /* Bordas arredondadas */
  overflow: hidden; /* Para esconder a sombra do dropdown dentro da tabela */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

#tabela-reservas th,
#tabela-reservas td {
  padding: 10px; /* Espaçamento interno das células */
  text-align: center;
}

#botao-dropdown {
  background-color: #FFFFFF; /* Cor de fundo do botão dropdown */
  color: #3E54FF; /* Cor do texto */
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

#botao-dropdown:hover {
  text-decoration: underline; /* Sublinhado ao passar o mouse */
}

#filtros-dropdown {
  display: none;
  position: absolute;
  background-color: #FFFFFF;
  border: 1px solid #CCCCCC;
  padding: 10px;
  z-index: 1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#botao-dropdown:hover + #filtros-dropdown {
  display: block;
}

#tabela-container {
  background-color: #FFFFFF; 
  margin-bottom: 20px; /* Espaçamento abaixo do container */
  border-spacing: 0 10px; /* Espaçamento entre as células */
  border-radius: 10px; /* Bordas arredondadas */
}

#botao-filtrar {
  background-color: transparent; /* Botão branco */
  color: #3E54FF; /* Texto branco */
  border: none;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 10px; /* Espaçamento abaixo do botão de filtrar */
  border: 1px solid transparent; /* Adiciona borda transparente */
}

#botao-filtrar:hover {
  text-decoration: underline; /* Sublinhado ao passar o mouse */
}

