.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  font-weight: bold;
}

.navbar-actions {
  display: flex;
  align-items: center;
}

.logout-button,
.profile-button {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 10px;
}

.logout-button:focus,
.profile-button:focus {
  outline: none;
}

