.btn-custom {
  background-color: white;
  border-radius: 15px;
  border: 0px;
  color: black;
  padding: 5px 10px;
  cursor: pointer;
}

.btn-custom:hover {
  background-color:#0b5ed7;
  color: white;
}